* {
	box-sizing: border-box;
    scroll-behavior: smooth;
}
.questionwindow{
	background-color: white;
	width: 75%;
	height: 700px;
    max-height: 700px;
	max-width: 1280px;
	padding-right: 0;
	margin: auto auto;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	

}
.sidebar{
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-bottom: none;
	/* border-right: 2px; */
	border-width: 2px;
	border-color: #6a6a6a;
}
progress{
	color: #0073cc;
	width: 75%;
	/* background: #6a6a6a;
	border-style: solid;
	border: 1px; */

}
.wrapper {
	height: 700px;
    max-height: 700px;
	max-width: 1280px;
	overflow-x: hidden;
	overflow-y: hidden;
    flex-direction: column; 
	flex-basis: 75%;
	
}
.item {
	background-color: white;
	padding: 0 10px;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

h1 {
	text-align: center;
}
 .item >p {
	height: fit-content;
	color: #6a6a6a;
	border: 2px;
	margin-top: 0;
	padding: 20px 20px;
	text-align: center;
	font-size: 18px;
}
.question{
	height: fit-content;
	color: #6a6a6a;
	/* border: 2px;
	border: solid;
	border-radius:  5px;
    border-width: 2px; */
	padding: 20px 20px;
	text-align: center;
	font-size: 30px;
}
.choices{
	margin-left: 35px;
	
	width: auto;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-height: 500px;
	flex-wrap: wrap;
	justify-self: center;
	justify-content: flex-start;
}
.choices-logging{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-self: center;
	align-content: flex-start;
	gap: 10px;
}

.button-decision{
	padding: 25px 20px;
}
/* styling for the sidebar list */
.highlighted{
	color: #0073cc;
}
