* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.questionwindow {
	background-color: white;
	width: 75%;
	height: 700px;
	max-height: 700px;
	max-width: 1280px;
	padding-right: 0;
	margin: auto auto;
	border-radius: 20px;
	border-bottom-right-radius: 20px;
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

.sidebar {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-width: 2px;
	border-color: #0073cc;
	align-items: center;
	justify-content: center;
}

.directory {
	text-align: start;
	list-style-position: inside;
	padding-left: 0;
	margin-left: 20px;
}

li {
	padding-bottom: 4px;
}

.highlighted {
	color: #0073cc;
}

.cancel {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #808080;
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-top: 20px;
}

.cancel:hover {
	color: #0073cc;
}

.return-icon {
	height: 15px;
	width: 15px;
	margin-right: 10px;
}

progress {
	color: #0073cc;
	width: 75%;
	margin-left: 20px;
}

.wrapper {
	height: 700px;
	max-height: 700px;
	max-width: 1280px;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-basis: 75%;
	border-radius: 20px;

}

.item {
	background-color: white;
	padding: 0 10px;
	height: 100%;
	width: 100%;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	place-content: center;
}

h1 {
	text-align: start;
}

.item>p {
	height: fit-content;
	color: #6a6a6a;
	border: 2px;
	margin-top: 0;
	/* margin-left: 35px; */
	padding: 20px 20px;
	text-align: start;
	font-size: 18px;

}

.question {
	height: fit-content;
	color: #6a6a6a;
	padding: 20px 20px;
	text-align: left;
	font-size: 30px;
}

.choices {
	margin-left: 20px;
	width: auto;
	display: flex;
	align-self: flex-start;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-height: 500px;
	flex-wrap: wrap;
	justify-self: center;
	justify-content: flex-start;
}

.choices-logging {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-self: center;
	align-content: flex-start;
	gap: 10px;
}

.button-decision {
	padding: 25px 20px;
}

.existing-image {
	/* font-size: 16px !important; */
	width: 300px;
}

.button-primary {
	color: white;
	background-color: #0073cc;
	margin-left: auto;
	margin-right: auto;
}
.endcard-text{
	margin-left: auto;
	margin-right: auto;
	font-size: 34px;
	color:#1b1b1b;
	padding-bottom: 20px;
}
#loggingtreiber{
	overflow-y: scroll;
}

@media all and (max-width:700px){
	.questionwindow{
		width: 100%;
	}
}

@media all and (max-width:550px){
	.sidebar{
		display: none;
	}
}